<?xml version="1.0" encoding="utf-8"?>

<html xmlns:th="http://www.thymeleaf.org" >  <!-- 1 -->
<head>
    <h1 th:text="#{welcome}"></h1>
</head>
<body>
		<span th:text="#{hello}"></span>:
	<select id="locales">
	    <option value=""></option>
	    <option value="es" th:text="#{switch-es}"></option>
	    <option value="us" th:text="#{switch-us}"></option>
	    <option value="pt" th:text="#{switch-pt}"></option>
	</select>
	
	 <main id="main-holder">
	    <h1 id="login-header">Login</h1>
	    
	    <div id="login-error-msg-holder">
	      <p id="login-error-msg">Invalid username <span id="error-msg-second-line">and/or password</span></p>
	    </div>
	    
	    <form id="login-form">
	      <input type="text" name="username" id="username-field" class="login-form-field" placeholder="Username">
	      <input type="password" name="password" id="password-field" class="login-form-field" placeholder="Password">
	      <input type="submit" value="Login" id="login-form-submit">
	    </form>
	  
	  </main>
	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js">
	</script>
	<script type="text/javascript">
	$(document).ready(function() {
	    $("#locales").change(function () {
	        var selectedOption = $('#locales').val();
	        if (selectedOption != ''){
	            window.location.replace('welcome?lang=' + selectedOption);
	        }
	    });
	});
	</script>
	
	<script>
		const loginForm = document.getElementById("login-form");
		const loginButton = document.getElementById("login-form-submit");
		const loginErrorMsg = document.getElementById("login-error-msg");
		const urlBase = "http://localhost:8080/authenticate";
		
		
		const xhttp = new XMLHttpRequest();
		
		loginButton.addEventListener("click", (e) => {
		    e.preventDefault();
		    
		    xhttp.open("POST", urlBase +"", true);
		    xhttp.setRequestHeader('Content-type', 'application/json');
		    let username = loginForm.username.value;
		    let password = loginForm.password.value;
			let parameter = '{"email": "'+username+'", "password": "'+password+'"}';
			xhttp.send(parameter);
		    
		    xhttp.onreadystatechange = function() {
		        if (xhttp.readyState == XMLHttpRequest.DONE) {
		        	if(xhttp.responseText == "invalid username/password"){ alert("usuario ou password invalido")}
		        	xhttp.setRequestHeader('Authorization', xhttp.responseText);
		        }
		    }
 	
		})
	</script>
</body>
</html>